parse_config:
  zmk_additional_includes: ["zmk-helpers/include"]

  zmk_preamble: |
    #include "custom/key-labels/35-l.h"
    #define CONFIG_WIRELESS

  raw_binding_map:
    "&sys_reset": Reset
    "&bootloader": Boot
    "&studio_unlock": Studio Unlock
    "&caps_word": Caps Word
    "&nav_word": Navword
    "&key_repeat": Repeat

    "&bt BT_SEL 0": BT 1
    "&bt BT_SEL 1": BT 2
    "&bt BT_SEL 2": BT 3
    "&bt BT_SEL 3": BT 4
    "&bt BT_SEL 4": BT 5

    "&swapper": Next Win
    "&kp LS(TAB)": Prev Win
    "&dot_spc": Sentence
    "&num_dance": { "t": "Numword", "s": "Sticky Num" }
    "&magic_shift": { "t": Magic, "h": "Shift" }
    "&mcr_colon_w": ":W"

    "&mmv MOVE_UP": "Mouse ↑"
    "&mmv MOVE_DOWN": "Mouse ↓"
    "&mmv MOVE_LEFT": "Mouse ←"
    "&mmv MOVE_RIGHT": "Mouse →"

    # Same as mmv since I enabled smooth scrolling
    "&msc MOVE_UP": "Scroll ↑"
    "&msc MOVE_DOWN": "Scroll ↓"
    "&msc MOVE_LEFT": "Scroll ←"
    "&msc MOVE_RIGHT": "Scroll →"

    "&mkp LCLK": $$phosphor:regular/mouse-left-click$$
    "&mkp RCLK": $$phosphor:regular/mouse-right-click$$
    "&mkp MCLK": $$phosphor:regular/mouse-middle-click$$
    "&mkp MB4": $$mdi:page-previous-outline$$
    "&mkp MB5": $$mdi:page-next-outline$$

  trans_legend: { "t": "", "type": "trans" }
  none_legend: { "t": $$mdi:alpha-x-circle-outline$$ , "type": "none" }

  # zmk_combos:
  #   combo_cut: { align: bottom, o: 0.15 }
  #   combo_ldrsh: { align: top, o: 1.35 }

  #   combo_lt: { hidden: true }

  zmk_keycode_map:
    # custom mappings
    LALT: $$mdi:apple-keyboard-option$$
    RALT: $$mdi:apple-keyboard-option$$
    LCTRL: $$mdi:apple-keyboard-control$$
    RCTRL: $$mdi:apple-keyboard-control$$
    LGUI: $$mdi:apple-keyboard-command$$
    RGUI: $$mdi:apple-keyboard-command$$
    LSHFT: $$mdi:apple-keyboard-shift$$
    RSHFT: $$mdi:apple-keyboard-shift$$

    BSPC: $$mdi:backspace-outline$$
    DEL: $$mdi:backspace-reverse-outline$$
    ESC: Esc
    RET: $$mdi:keyboard-return$$
    SPACE: $$mdi:keyboard-space$$
    TAB: $$mdi:keyboard-tab$$

    COPY: $$mdi:content-copy$$
    CUT: $$mdi:content-cut$$
    PASTE: $$mdi:content-paste$$
    UNDO: $$mdi:undo$$
    REDO: $$mdi:redo$$

    PG_UP: PgUp
    PG_DN: PgDn
    INS: Ins
    HOME: Home
    END: End

    UP: ↑
    DOWN: ↓
    LEFT: ←
    RIGHT: →

    C_MUTE: $$mdi:volume-off$$
    C_PP: $$mdi:play-pause$$
    C_VOL_UP: $$mdi:volume-high$$
    C_VOL_DN: $$mdi:volume-medium$$
    C_NEXT: $$mdi:skip-forward$$
    C_PREV: $$mdi:skip-backward$$

    # defaults
    AMPERSAND: "&"
    AMPS: "&"
    APOS: "'"
    APOSTROPHE: "'"
    ASTERISK: "*"
    ASTRK: "*"
    AT: "@"
    AT_SIGN: "@"
    BACKSLASH: \
    BSLH: \
    CARET: ^
    COLON: ":"
    COMMA: ","
    DLLR: $
    DOLLAR: $
    DOT: .
    DOUBLE_QUOTES: '"'
    DQT: '"'
    EQUAL: "="
    EXCL: "!"
    EXCLAMATION: "!"
    FSLH: /
    GRAVE: "`"
    GREATER_THAN: ">"
    GT: ">"
    HASH: "#"
    LBKT: "["
    LBRC: "{"
    LEFT_BRACE: "{"
    LEFT_BRACKET: "["
    LEFT_PARENTHESIS: (
    LESS_THAN: <
    LPAR: (
    LT: <
    MINUS: "-"
    NON_US_BACKSLASH: \
    NON_US_BSLH: "|"
    NON_US_HASH: "#"
    NUHS: "#"
    PERCENT: "%"
    PERIOD: .
    PIPE: "|"
    PIPE2: "|"
    PLUS: +
    POUND: "#"
    PRCNT: "%"
    QMARK: "?"
    QUESTION: "?"
    RBKT: "]"
    RBRC: "}"
    RIGHT_BRACE: "}"
    RIGHT_BRACKET: "]"
    RIGHT_PARENTHESIS: )
    RPAR: )
    SEMI: ;
    SEMICOLON: ;
    SINGLE_QUOTE: "'"
    SLASH: /
    SQT: "'"
    STAR: "*"
    TILDE: "~"
    TILDE2: "~"
    UNDER: _
    UNDERSCORE: _

draw_config:
  append_colon_to_layer_header: false
  dark_mode: auto
  footer_text: "rezaamashi/zmk-config"
